body{
    font-family: 'Anek Malayalam', sans-serif;
    font-family: 'Charis SIL', serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 42px;
    
}
.orange{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;

}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 6px;
    color: white;
    font-weight: 600;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}